<h2 class="text-center alert alert-info">Search News</h2>
<form action="" method="GET" >
    <label class="text-danger"> <i>Search by Country</i> </label>
    <input type="text" placeholder="Search Here" class="form-control mb-3" name="country">
    <div class="text-center">
        <input type="submit" class="btn btn-outline-success my-2 px-5" value="Search" />
    </div>
</form>
<form action="" method="GET">
    <label for="language" class="text-danger"><i>Search by Languages</i></label>
    <input type="text" placeholder="Search by language" class="form-control mb-3" name='language'>
    <div class="text-center">
        <input type="submit" class="btn btn-outline-success my-2 px-5" value="Search">
    </div>
</form>
<form action="" method="GET">
    <label for="category" class="text-danger"><i>Search by Category</i></label>
    <input type="text" placeholder="Search by Category" class="form-control mb-3" name='category'>
    <div class="text-center">
        <input type="submit" class="btn btn-outline-success my-2 px-5" value="Search">
    </div>
</form>
<hr>
<h2 class="text-center alert alert-success">Filter by category</h2>
<ul class="list-group">
    <li class="list-group-item text-center"> <a href="?category=health" class="text-decoration-none"> <b>Health</b> </a></li>
    <li class="list-group-item text-center"> <a href="?category=general" class="text-decoration-none"> <b>General</b> </a></li>
    <li class="list-group-item text-center"> <a href="?category=science" class="text-decoration-none"> <b>Science</b> </a></li>
    <li class="list-group-item text-center"> <a href="?category=sports" class="text-decoration-none"> <b> Sports </b> </a></li>
    <li class="list-group-item text-center"> <a href="?category=technology" class="text-decoration-none"> <b>Technology</b>  </a></li>
    <li class="list-group-item text-center"> <a href="?category=entertainment" class="text-decoration-none"> <b>Entertainment</b>  </a></li>
  </ul>
   
 